$colors : (
    'white'     : #FFFFFF,
    'softwhite' : #FAFAFA,
    'gold'      : #BF9B73,
    'dusk'      : #969696,
    'green'     : #6B8181,
    'softgreen' : #93BBB4,
    'black'     : #000000,
);

// Breakpoint
$breakpoint--xs: 480px;
$breakpoint--sm: 576px;
$breakpoint--md: 768px;
$breakpoint--lg: 991px;
